.detail-dashboard-title {
    display: flex;
    align-items: baseline;
    column-gap: var(--spacing-sm);

    .action-btn {
        cursor: pointer;
        font-size: var(--fs-lg);
    }

    .star-icon {
        color: var(--main-warning);
        stroke: var(--main-warning);
    }

    // override flex-grow for header title
    & > div:first-child {
        flex: unset;
    }

    .filter-tag {
        align-self: center;
    }
}

.detail-dashboard__action-menu {
    .ant-dropdown-menu-title-content {
        color: var(--color-normal);
        font-size: var(--fs-md);
        display: flex;
        align-items: center;
        column-gap: var(--spacing-sm);

        .anticon {
            color: var(--color-faint);
            font-size: var(--fs-xl);
        }
    }
}
